.display_flex{
    display: flex;
}
.flex-direction_row{
    flex-direction: row;
}
.justify-content_space-between{
    justify-content: space-between;
}

.logo{
    margin-top: 24px;
}
 .width{
    width: 101px;
 }
 .list-style_none{
    list-style: none;
 }
.input{
    background: rgb(192, 190, 190);
    border-radius: 90px;
    border: none;
    width: 350px;
    padding: 10px;
    height: 46px;
    margin-top: 20px;
}
.button{
    height: 42px;
    width: 45px;
    margin-top: 21px;
    margin-left: 10px;
    font-size: 10px;
}
